[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
bumpversion = "*"
social-auth-app-django = "*"
django-webpack-loader = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-constance = {extras = ["database"], version = "*"}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
