[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
bumpversion = "*"
social-auth-app-django = "*"
django-webpack-loader = "*"
psycopg2-binary = "*"
gunicorn = "*"
pillow = "*"
django-colorfield = "*"
django-constance = {extras = [ "database",], version = "*"}
django-filter = "*"
django-crispy-forms = "*"
djangorestframework-jsonapi = {extras = ["django-polymorphic"], version = "*"}
django-activity-stream = "*"
django-jsonfield = "*"
markdown = "*"
django-admin-autocomplete-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
