@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

@import './utils/_settings.scss';
@import './utils/_animations.scss';
@import './utils/_multiselect.scss';
@import './utils/_splashscreen.scss';

@import '~node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~node_modules/bootstrap-vue/src/index';
// @TODO bundle Murmur so the import is easier
@import '~node_modules/@icij/murmur/dist/lib/murmur.css';

html {
  font-size: 14px;
}

.progress {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: $secondary;
    z-index: 0;
  }

  &-bar {
    border-radius: inherit;
    z-index: 10;
  }
}

.badge {
  font-family: $badge-font-family;
}

.mention {
  font-weight: bold;

  &--is-me {
    color: $danger;
  }
}

.custom-pagination--compact {
  .custom-pagination__form 
  {
    max-width:108px !important; // to see the third point in Jump to... placeholder
    & input {
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }
  }
}

.b-popover.b-popover-transparent {
  .arrow {
    display: none;
  }

  &, .popover-body {
    box-shadow: none;
    padding: 0;
    border: 0;
    background: transparent;
  }
}
