{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#235b59">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title>Prophecies by ICIJ</title>
  {% render_bundle 'app' 'css' %}
</head>
<body>
<div id="app">
  <div class="splashscreen">
    <div class="splashscreen__panel">
      <div class="splashscreen__panel__spinner"></div>
      <p>Prophecies is starting....</p>
    </div>
  </div>
</div>
<!-- built files will be auto injected -->
{% render_bundle 'app' 'js' %}
</body>
</html>
