$primary: #235B59;
$secondary: #BEBFBF;
$tertiary: #31807D;
$danger: #FE6565;
$warning: #FFE980;
$success: #73B782;
$info: #45C4FF;
$light: #CCE3E6;
$lighter: #f5f9fa;
$dark: darken($primary, 10);

$theme-colors: (
  icij: #852308,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  danger: $danger,
  warning: $warning,
  success: $success,
  info: $info,
  light: $light,
  lighter: $lighter,
  dark: $dark,
  mark: #fff5bd
);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 200;

$link-color: $primary;
$body-bg: #fff;
$body-color: #071111;
$text-muted: #515858;

$border-color: #EFEFEF;
$border-width: 0.7px;

$border-radius: 5px;
$border-radius-lg: 8px;

$box-shadow-sm: 0px 4px 50px rgba(204, 227, 230, 0.25);
$box-shadow: 0px 4px 50px rgba(204, 227, 230, 0.5);
$box-shadow-lg: 0px 0px 50px 2px rgba(35, 91, 89, 0.2);

$card-border-radius: $border-radius-lg;
$card-border-color: $border-color;
$hr-border-color: $border-color;

$dropdown-box-shadow: $box-shadow;

$h1-font-size: 35px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;

$display1-font-size: 35px;
$display2-font-size: 20px;
$display3-font-size: 18px;
$display4-font-size: 16px;

$display1-weight: 800;
$display2-weight: 600;
$display3-weight: 600;
$display4-weight: 500;

$font-weight-bold: 700;
$headings-font-weight: 600;

$card-cap-bg: mix($body-bg, white);
$translation-bg: #fcf8e3;

$enable-shadows: true;
$enable-rounded: true;

$font-family-sans-serif: "Inter", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Merriweather", Georgia, "Times New Roman", Times, serif;
$badge-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 600;


$btn-box-shadow: none;

$mark-bg: map-get($theme-colors, 'mark');

$kbd-padding-y: .2em;
$kbd-padding-x: .4em;
$kbd-bg: rgba(#222, .7);

$tooltip-max-width: 260px;
$tooltip-opacity: 1;


$input-border-color: $border-color;
$input-box-shadow: none;
$input-btn-padding-x: 1.5rem;
$pagination-border-color: $input-border-color;
$b-toast-background-opacity: $tooltip-opacity;

$font-size-base: 1rem;
$font-size-lg: 1.15rem;
$font-size-sm: .9rem;
$small-font-size: 85%;
$line-height-sm: 1.7;

$table-accent-bg: mix($body-bg, white);

$nav-tabs-link-active-bg: white;

$alert-bg-level: -6;
$alert-border-level: 0;
$alert-color-level: 7;

$navbar-light-color: $body-color;
$navbar-nav-link-padding-x: 1.5rem;

$progress-box-shadow: none;
$progress-bg: transparent;
$progress-border-radius: 10rem;
$progress-height: 0.8rem;

// Bootstrap variables and mixins must be available everywhere
@import '~node_modules/bootstrap/scss/_functions.scss';
@import '~node_modules/bootstrap/scss/_variables.scss';
@import '~node_modules/bootstrap/scss/_mixins.scss';
// We also defines a few functions and mixins internally
@import './_functions.scss';
@import './_mixins.scss';

$spacer-xs: $spacer * 0.5;
$spacer-sm: $spacer * 0.75;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 2;
$spacer-xxl: $spacer * 4;
