{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/badge.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/custom.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/position.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/task.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/spacing.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/text.css" %}"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/atom-one-light.min.css">
{% endblock %}

{% block footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
  <script>hljs.highlightAll()</script>
  <script src="{% static "admin/js/admin-select-autosubmit.js" %}"></script>
  <script src="{% static "admin/js/admin-select2.js" %}"></script>
  <script src="{% static "admin/js/admin-submit-spinner.js" %}"></script>
{% endblock %}
