{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}


{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content %}
    <form action="{% url opts|admin_urlname:'upload' %}" method="post" id="task_record_upload_form" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
        {% endfor %}
      </div>
      <div class="submit-row">
        <input class="button" type="submit" value="Upload" name="_save" />
      </div>
    </form>
{% endblock %}
