{% extends 'admin/import_export/change_list_export.html' %}
{% load i18n %}

{% block object-tools-items %}
  <li>
    <a class="uploadlink" href="upload/csv/">
      {% blocktranslate with cl.opts.verbose_name_plural as name %}
        CSV Import
      {% endblocktranslate %}
    </a>
  </li>
  <li>
    <a class="uploadlink" href="upload/zip/">
      {% blocktranslate with cl.opts.verbose_name_plural as name %}
        ZIP Import
      {% endblocktranslate %}
    </a>
  </li>
  {{ block.super }}
{% endblock %}
