{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}


{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content %}
  <form action="{% url opts|admin_urlname:'assign' %}" method="post" id="task_record_assign_form"
        enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      {{ adminform.non_field_errors }}
      {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
      {% endfor %}
    </div>
    <div class="submit-row">
      <input class="button" type="submit" value="Assign" name="_save"/>
    </div>
  </form>
{% endblock %}
